/vendor
/composer.lock
/.idea
/.vscode
.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/resource/node_modules
/resource/coverage
/resource/build