/vendor
/composer.lock
/.idea
/.vscode
.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/npm/node_modules
/npm/coverage
/npm/build
/npm/package-lock.json
/npm/map.html